<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Add Rule</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>

<header>
	<div class="row" style="height: 24rem"></div>
</header>

<body>
<div class="container">

	<h1 class="col-8 offset-md-3">Update Rule</h1>

	<div class="row mt-5 justify-content-center">
		<div class="col-8">
			<form action="#" th:action="@{/ruleName/update/{id}(id=${ruleName.id})}" th:object="${ruleName}" method="post" class="form-horizontal" style="width: 100%">
				<div class="form-group offset-md-3">
					<label for="name" class="control-label">Name</label>
					<div>
						<input class="col-8" type="text" th:field="*{name}" id="name" placeholder="Name">
						<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
					</div>
				</div>
				<div class="form-group offset-md-3">
					<label for="description" class="control-label">Description</label>
					<div>
						<input class="col-8" type="text" th:field="*{description}" id="description" placeholder="Description">
						<p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
					</div>
				</div>
				<div class="form-group offset-md-3">
					<label for="json" class="control-label">Json</label>
					<div>
						<input class="col-8" type="text" th:field="*{json}" id="json" placeholder="Json">
						<p class="text-danger" th:if="${#fields.hasErrors('json')}" th:errors="*{json}"></p>
					</div>
				</div>
				<div class="form-group offset-md-3">
					<label for="template" class="control-label">Template</label>
					<div>
						<input class="col-8" type="text" th:field="*{template}" id="template" placeholder="Template">
						<p class="text-danger" th:if="${#fields.hasErrors('template')}" th:errors="*{template}"></p>
					</div>
				</div>
				<div class="form-group offset-md-3">
					<label for="sqlStr" class="control-label">Sql</label>
					<div>
						<input class="col-8" type="text" th:field="*{sqlStr}" id="sqlStr" placeholder="Sql">
						<p class="text-danger" th:if="${#fields.hasErrors('sqlStr')}" th:errors="*{sqlStr}"></p>
					</div>
				</div>
				<div class="form-group offset-md-3">
					<label for="sqlPart" class="control-label">SqlPart</label>
					<div>
						<input class="col-8" type="text" th:field="*{sqlPart}" id="sqlPart" placeholder="SqlPart">
						<p class="text-danger" th:if="${#fields.hasErrors('sqlPart')}" th:errors="*{sqlPart}"></p>
					</div>
				</div>

				<div class="form-group offset-md-3">
					<div class="col pt-3 pl-0">
						<a class="btn btn-danger btn-sm" href="/ruleName/list">Cancel</a>
						<input class="btn btn-primary btn-sm" type="submit" value="Update Rule">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</body>

<footer>
	<div th:replace="~{fragments/footer :: footer}"></div>
</footer>

</html>